<nav class="sidebar">
      <ul>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a routerLink="/dashboard">Dashboard</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/transactions">Transactions</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/cards">Cards</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/bank-accounts">Bank Accounts</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/notifications">Notifications</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/settings">Settings</a>
        </li>
      </ul>
    </nav>