.navbar {
  height: 60px;
  background-color: #1abc9c;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  font-weight: 600;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.brand {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
}
.icon {
  margin-right: 0.5rem;
  font-size: 1.5rem;
}
.actions a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  border: 2px solid white;
  padding: 0.25rem 0.75rem;
  border-radius: 4px;
  transition: background-color 0.2s;
}
.actions a:hover {
  background-color: white;
  color: #1abc9c;
}

.login-link {
  cursor: pointer;
}

.actions button {
  color: white;
  background-color: transparent;
  border: 2px solid white;
  padding: 0.25rem 0.75rem;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s;
}

.actions button:hover {
  background-color: white;
  color: #1abc9c;
}

